name: build

on:
  - push
  - workflow_dispatch

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  build:
    name: build
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: nix-shell --pure --run 'make build'
