name: common for pull requests

on:
  - pull_request

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  commitlint:
    name: commitlint
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: |
          [[ -f commitlint.config.ts ]] || cat > commitlint.config.ts <<EOF
          export default {
            extends: ['@commitlint/config-conventional'],
            rules: {
              'body-max-line-length': [2, 'always', 200],
              'footer-max-line-length': [2, 'always', 200],
            },
          };
          EOF
      - run: nix-shell -p git nodejs --run 'npm install --save-dev @commitlint/{cli,config-conventional} && npx commitlint --strict --from "${{ github.event.pull_request.base.sha }}" --to "${{ github.event.pull_request.head.sha }}" --config commitlint.config.ts' # zizmor: ignore[template-injection] False positive
