name: common

on:
  push:
  workflow_dispatch:

permissions: {}

defaults:
  run:
    shell: bash

# zizmor: ignore[concurrency-limits] We don't care I guess
jobs:
  shellcheck:
    name: shellcheck
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: nix-shell --pure -p git shellcheck --run "git ls-files --exclude='*.sh' --ignored -c -z | xargs -0r shellcheck"

  yamllint:
    name: yamllint
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: |
          nix-shell --pure -p yamllint --run "yamllint -d '{extends: default, rules: {line-length: {level: warning}}}' ."

  find-git-merge-conflict-marker:
    name: find-git-merge-conflict-marker
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: nix-shell --pure -p git --run 'git diff-index --check "$(git hash-object -t tree /dev/null)"'
      - run: nix-shell --pure -p git --run "(git grep -rnlP '[<]{7}.*' | xargs git grep -rnlP '[=]{7}.*' | xargs git grep -rnlP '[>]{7}.*') && exit 1 || exit 0"

  gitleaks:
    name: gitleaks
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: nix-shell --pure -p git gitleaks --run 'gitleaks detect --source . -v'

  osv-scanner:
    name: osv-scanner
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: nix-shell --pure -p osv-scanner go --run 'osv-scanner scan source -r --no-ignore . ; EXITCODE=$? ; test $EXITCODE -eq 128 || exit $EXITCODE' || true

  dotenv:
    name: dotenv
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: nix-shell --pure -p dotenv-linter --run 'dotenv-linter check --skip-updates --ignore-checks UnorderedKey .'
