name: common for pull requests

on:
  pull_request:

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  commitlint:
    name: commitlint
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          [[ -f commitlint.config.ts ]] || cat > commitlint.config.ts <<EOF
          export default {
            extends: ['@commitlint/config-conventional'],
            rules: {
              'body-max-line-length': [2, 'always', 200],
              'footer-max-line-length': [2, 'always', 200],
            },
          };
          EOF
      - run: nix-shell -p git nodejs --run 'npm install --save-dev @commitlint/{cli,config-conventional} && npx commitlint --strict --from "${{ github.event.pull_request.base.sha }}" --to "${{ github.event.pull_request.head.sha }}" --config commitlint.config.ts' # zizmor: ignore[template-injection] False positive
