name: common

on:
  - push
  - workflow_dispatch

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  shellcheck:
    name: shellcheck
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: nix-shell --pure -p git shellcheck --run "git ls-files --exclude='*.sh' --ignored -c -z | xargs -0r shellcheck"

  yamllint:
    name: yamllint
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: |
          nix-shell --pure -p yamllint --run "yamllint -d '{extends: default, rules: {line-length: {level: warning}}}' ."

  find-git-merge-conflict-marker:
    name: find-git-merge-conflict-marker
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: nix-shell --pure -p git --run 'git diff-index --check "$(git hash-object -t tree /dev/null)"'
      - run: nix-shell --pure -p git --run "(git grep -rnlP '[<]{7}.*' | xargs git grep -rnlP '[=]{7}.*' | xargs git grep -rnlP '[>]{7}.*') && exit 1 || exit 0"

  gitleaks:
    name: gitleaks
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: nix-shell --pure -p git gitleaks --run 'gitleaks detect --source . -v'

  osv-scanner:
    name: osv-scanner
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: nix-shell --pure -p osv-scanner go --run 'osv-scanner scan source -r --no-ignore . ; EXITCODE=$? ; test $EXITCODE -eq 128 || exit $EXITCODE' || true

  dotenv:
    name: dotenv
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: nix-shell --pure -p dotenv-linter --run 'dotenv-linter --skip QuoteCharacter --skip UnorderedKey'
