name: lint

on:
  - push
  - workflow_dispatch

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  go-vet:
    name: go-vet
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: nix-shell --pure --run 'go vet -v ./...'

  go-maprange:
    name: go-maprange
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: |
          CMD='\
            GOPATH="$PWD/.gopath" go install golang.org/x/tools/gopls/internal/analysis/maprange/cmd/maprange@latest && \
            "$PWD/.gopath/bin/maprange" ./... \
          '
          nix-shell --pure --run "$CMD"

  go-unusedparams:
    name: go-unusedparams
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: |
          CMD='\
            GOPATH="$PWD/.gopath" go install golang.org/x/tools/gopls/internal/analysis/unusedparams/cmd@latest && \
            mv "$PWD/.gopath/bin/cmd" "$PWD/.gopath/bin/unusedparams" && \
            "$PWD/.gopath/bin/unusedparams" ./... \
          '
          nix-shell --pure --run "$CMD"

  golangci-lint:
    name: golangci-lint
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: nix-shell --pure --run 'make lint'

  ls-lint:
    name: ls-lint
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: |
          cat > .ls-lint.yml <<EOF
            ls:
              .go: snake_case
          EOF
      - run: nix-shell --pure -p ls-lint --run 'ls_lint'

  goptrcmp:
    name: goptrcmp
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: |
          CMD='\
            GOPATH="$PWD/.gopath" go install github.com/w1ck3dg0ph3r/goptrcmp/cmd/goptrcmp@latest && \
            "$PWD/.gopath/bin/goptrcmp" ./... \
          '
          nix-shell --pure --run "$CMD"

  untypedconst:
    name: untypedconst
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: |
          CMD='\
            GOPATH="$PWD/.gopath" go install github.com/jiftechnify/untypedconst/cmd/untypedconst@latest && \
            "$PWD/.gopath/bin/untypedconst" ./... \
          '
          nix-shell --pure --run "$CMD"

  govanish:
    name: govanish
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: |
          CMD='\
            GOPATH="$PWD/.gopath" go install github.com/sivukhin/govanish@latest && \
            "$PWD/.gopath/bin/govanish" \
          '
          nix-shell --pure --run "$CMD"
