name: lint

on:
  push:
  workflow_dispatch:

permissions: {}

defaults:
  run:
    shell: bash

# zizmor: ignore[concurrency-limits] We don't care I guess
jobs:
  go-vet:
    name: go-vet
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: nix-shell --pure --run 'go vet -v ./...'

  go-maprange:
    name: go-maprange
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: |
          CMD='\
            GOPATH="$PWD/.gopath" go install golang.org/x/tools/gopls/internal/analysis/maprange/cmd/maprange@latest && \
            "$PWD/.gopath/bin/maprange" ./... \
          '
          nix-shell --pure --run "$CMD"

  go-unusedparams:
    name: go-unusedparams
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: |
          CMD='\
            GOPATH="$PWD/.gopath" go install golang.org/x/tools/gopls/internal/analysis/unusedparams/cmd@latest && \
            mv "$PWD/.gopath/bin/cmd" "$PWD/.gopath/bin/unusedparams" && \
            "$PWD/.gopath/bin/unusedparams" ./... \
          '
          nix-shell --pure --run "$CMD"

  golangci-lint:
    name: golangci-lint
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: nix-shell --pure --run 'make lint'

  ls-lint:
    name: ls-lint
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: |
          cat > .ls-lint.yml <<EOF
            ls:
              .go: snake_case
          EOF
      - run: nix-shell --pure -p ls-lint --run 'ls_lint'

  goptrcmp:
    name: goptrcmp
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: |
          CMD='\
            GOPATH="$PWD/.gopath" go install github.com/w1ck3dg0ph3r/goptrcmp/cmd/goptrcmp@latest && \
            "$PWD/.gopath/bin/goptrcmp" ./... \
          '
          nix-shell --pure --run "$CMD"

  untypedconst:
    name: untypedconst
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: |
          CMD='\
            GOPATH="$PWD/.gopath" go install github.com/jiftechnify/untypedconst/cmd/untypedconst@latest && \
            "$PWD/.gopath/bin/untypedconst" ./... \
          '
          nix-shell --pure --run "$CMD"

  govanish:
    name: govanish
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: |
          CMD='\
            GOPATH="$PWD/.gopath" go install github.com/sivukhin/govanish@latest && \
            "$PWD/.gopath/bin/govanish" \
          '
          nix-shell --pure --run "$CMD"
