name: lint

on:
  - push
  - workflow_dispatch

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  go-vet:
    name: go-vet
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: nix-shell --pure --run 'go vet -v ./...'

  go-maprange:
    name: go-maprange
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: |
          CMD='\
            GOPATH="$PWD/.gopath" go install golang.org/x/tools/gopls/internal/analysis/maprange/cmd/maprange@latest && \
            "$PWD/.gopath/bin/maprange" ./... \
          '
          nix-shell --pure --run "$CMD"

  go-modernize:
    name: go-modernize
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: |
          CMD='\
            GOPATH="$PWD/.gopath" go install golang.org/x/tools/gopls/internal/analysis/modernize/cmd/modernize@latest && \
            "$PWD/.gopath/bin/modernize" ./... \
          '
          nix-shell --pure --run "$CMD"

  go-unusedparams:
    name: go-unusedparams
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: |
          CMD='\
            GOPATH="$PWD/.gopath" go install golang.org/x/tools/gopls/internal/analysis/unusedparams/cmd@latest && \
            mv "$PWD/.gopath/bin/cmd" "$PWD/.gopath/bin/unusedparams" && \
            "$PWD/.gopath/bin/unusedparams" ./... \
          '
          nix-shell --pure --run "$CMD"

  golangci-lint:
    name: golangci-lint
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: nix-shell --pure --run 'make lint'

  ls-lint:
    name: ls-lint
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: |
          cat > .ls-lint.yml <<EOF
            ls:
              .go: snake_case
          EOF
      - run: nix-shell --pure -p ls-lint --run 'ls_lint'

  goptrcmp:
    name: goptrcmp
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: |
          CMD='\
            GOPATH="$PWD/.gopath" go install github.com/w1ck3dg0ph3r/goptrcmp/cmd/goptrcmp@latest && \
            "$PWD/.gopath/bin/goptrcmp" ./... \
          '
          nix-shell --pure --run "$CMD"

  untypedconst:
    name: untypedconst
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: |
          CMD='\
            GOPATH="$PWD/.gopath" go install github.com/jiftechnify/untypedconst/cmd/untypedconst@latest && \
            "$PWD/.gopath/bin/untypedconst" ./... \
          '
          nix-shell --pure --run "$CMD"

  govanish:
    name: govanish
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: |
          CMD='\
            GOPATH="$PWD/.gopath" go install github.com/sivukhin/govanish@latest && \
            "$PWD/.gopath/bin/govanish" \
          '
          nix-shell --pure --run "$CMD"
