name: test

on:
  - push
  - workflow_dispatch

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  test:
    name: test
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: nix-shell --pure --run 'make test'
