name: test

on:
  push:
  workflow_dispatch:

permissions: {}

defaults:
  run:
    shell: bash

# zizmor: ignore[concurrency-limits] We don't care I guess
jobs:
  test:
    name: test
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: nix-shell --pure --run 'make test'
